# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
build/
.next/
out/
coverage/

# env
.env
.env.local
.env*.local

# uploads (dev)
apps/backend/uploads/

# native / expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# IDE / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# turbo
.turbo/

# build info
*.tsbuildinfo